@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100vh;
  background: white;
  overflow: hidden;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

#check {
  z-index: -1;
  display: none;
}

.container {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container h1 {
  font-family: 'Open Sans', sans-serif;
  padding-left: 40px;
  font-size: 80px;
  color: #777;
}

#check:checked+.container .check_label {
  background: #0080ff;
  -webkit-clip-path: polygon(18% 25%, 40% 53%, 90% 13%, 100% 26%, 36% 79%, 5% 36%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#check:checked+.container .check_label .effect {
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.check_label {
  width: 60px;
  height: 60px;
  background: white;
  padding: 15px;
  border-radius: 30px;
  overflow: hidden;
  -webkit-clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 0 100%, 0 0);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: 2px solid #0080ff;
  cursor: pointer;
}

.effect {
  position: absolute;
  width: 60px;
  height: 60px;
  -webkit-clip-path: polygon(18% 25%, 40% 53%, 90% 13%, 100% 26%, 36% 79%, 5% 36%);
  background: rgba(0, 128, 255, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

/*.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
